
@font-face {
    font-family: "After Smile";
    src: url(../../../public/fonts/AfterSmile-Regular.otf);
}
@font-face {
    font-family: "Changa-One";
    src: url(../../../public/fonts/ChangaOne-Regular.ttf);
  }

  @font-face {
    font-family: "Lato";
    src: url(../../../public/fonts/Lato-Regular.ttf);
  }

  #clickCollectPage{
	margin-bottom: 40px;
	#cadreVide {
		width: 100%;
		height: 100px;
	}
	#clickAndCollect {
		.boutonClickCollect{
			outline: solid 4px rgb(0, 0, 0);
			border-radius: 7px;
			margin: auto;
			width: 27%;
			height: 70px;
			display: flex;
			flex-direction: column;
			background: url(../../../public/img/bouton-click-and-collect.jpg);
			h2 {
			font-family: "Changa-One";
			font-size: 35px;
			margin: auto;
			color: black;
			}
		}	
	}
	.commandDegustez {
		font-family: "Changa-One";
		font-size: 35px;
		margin: 2% auto;
		text-align: center;
		padding: 1% 2% 1% 2%;
		border-radius: 5px;
		width: 35%;
		outline: solid 4px rgb(0, 0, 0);
		color: #333;
		background: url(../../../public/img/Bouton_Click-collect-white.jpg);
	}
	.squarePath {
		display: flex;
		flex-direction: column;
		margin-top: 1%;
		width: 100%;
	}
    .rectangle {
	padding-top: 1%;
	margin: auto;
	width: 10px;
    }
	.clickText {
		font-family: "Lato";
		font-size: 20px;
		text-align: center;
		margin: 3% auto;
		color: rgb(139, 139, 139);
	  }
	  #aCommencer {
		text-decoration: none;
		#sectionCommencer {
			text-decoration: none;
			outline: solid 4px rgb(0, 0, 0);
			margin: auto;
			text-align: center;
			border-radius: 7px;
			width: 55%;
			height: 128px !important;
			background: url(../../../public/img/Bouton_Click-collect-yellow.jpg);
			.commencer {

				font-family: "Changa-One";
				font-size: 79px;
				padding-top: 21px;
				color: #333;
			  }
		  }
	  }
}

//          ------ RESPONSIVE ------
  
  @media screen and (max-width: 768px) {
	#clickCollectPage{
		margin-bottom: 311px !important;
		#clickAndCollect{
			.boutonClickCollect {
			width: 32% !important;
			}
			p{
				font-size: 17px !important;
			}
		}	
		#aCommencer #sectionCommencer{
			margin-bottom: 134px !important;
			text-decoration: none;
			width: 52% !important;
			height: 100px !important;
			.commencer{
				font-size: 58px !important;
				padding-top: 21px !important;
				padding: 20px !important;
				font-size: 58px !important;
			}
	}
  }
}

  @media screen and (max-width: 576px) {
	#clickCollectPage{
		margin-bottom: 210px !important;		
		#clickAndCollect{
			.boutonClickCollect {
				width: 61% !important;
			}
		}
	}
	#clickCollectPage .commandDegustez {
		height: 80px;
		padding: 0;
		margin: auto !important;
		width: 60% !important;
	}
	#clickCollectPage #aCommencer #sectionCommencer{
		margin-bottom: 210px !important;
		text-decoration: none;
		width: 88% !important;
		height: 100px !important;
		.commencer{
			font-size: 69px !important;
    		padding-top: 21px !important;
			padding: 20px !important;
			font-size: 54px !important;
		}
	}
  }