
@font-face {
    font-family: "After Smile";
    src: url(../../../public/fonts/AfterSmile-Regular.otf);
}
@font-face {
    font-family: "Changa-One";
    src: url(../../../public/fonts/ChangaOne-Regular.ttf);
  }

  @font-face {
    font-family: "Lato";
    src: url(../../../public/fonts/Lato-Regular.ttf);
  }


#clickCollectPage #cadreVide {
	width: 100%;
	height: 100px;
  }
  
  #clickCollectPage #clickAndCollect .boutonClickCollect {
	outline: solid 4px rgb(0, 0, 0);
	border-radius: 7px;
	margin: auto;
	width: 27%;
	height: 70px;
	display: flex;
	flex-direction: column;
	background: url(../../../public/img/bouton-click-and-collect.jpg);
  }
  #clickCollectPage #clickAndCollect .boutonClickCollect h2 {
	font-family: "Changa-One";
	font-size: 35px;
	margin: auto;
	color: black;
  }
  
  #clickCollectPage .commandDegustez {
	font-family: "Changa-One";
	font-size: 35px;
	margin: 2% auto;
	text-align: center;
	padding: 1% 2% 1% 2%;
	border-radius: 5px;
	width: 35%;
	outline: solid 4px rgb(0, 0, 0);
	color: #333;
	background: url(../../../public/img/Bouton_Click-collect-white.jpg);
  }
  
  #clickCollectPage .squarePath {
	display: flex;
	flex-direction: column;
	margin-top: 1%;
	width: 100%;
  }
  
  #clickCollectPage .rectangle {
	padding-top: 1%;
	margin: auto;
	width: 10px;
  }
  
  #clickCollectPage .clickText {
	font-family: "Lato";
	font-size: 20px;
	text-align: center;
	margin: 3% auto;
	color: rgb(139, 139, 139);
  }
  
  #clickCollectPage #aCommencer {
	text-decoration: none;
  }
  #clickCollectPage #aCommencer #sectionCommencer {
	text-decoration: none;
	outline: solid 4px rgb(0, 0, 0);
	margin: auto;
	text-align: center;
	border-radius: 7px;
	width: 50%;
	height: 150px;
	background: url(../../../public/img/Bouton_Click-collect-yellow.jpg);
  }
  #clickCollectPage #aCommencer #sectionCommencer .commencer {
	font-family: "Changa-One";
	font-size: 65px;
	padding-top: 30px;
	color: #333;
  }