/*Titi Burger*/

@font-face {
    font-family: "After Smile";
    src: url(../../../public/fonts/AfterSmile-Regular.otf);
}
@font-face {
    font-family: "Changa-One";
    src: url(../../../public/fonts/ChangaOne-Regular.ttf);
  }

  @font-face {
    font-family: "Lato";
    src: url(../../../public/fonts/Lato-Regular.ttf);
  }

/******Story*****/

.burger h1{
	font-family: "Changa-One";
	top: 0;
    display: flex;
    justify-content: center;
    color: rgb(31, 31, 31);
    padding: 10px 40px 0 0;
    font-size: 55px;
    text-shadow: 1px 3px 4px rgba(57, 57, 57, 0.27), -1px -1px 2px rgba(0,0,0,0.4); 
    transition: 0.5s;
}

.burger h1:hover{
    color: rgb(255, 238, 0);
}

.burger .titreAccompagnement{
	font-family: "Changa-One";
	top: 0;
    display: flex;
    justify-content: center;
    color: rgb(31, 31, 31);
    padding: 17px 40px 0 4%;
    font-size: 43px;
    text-shadow: 1px 3px 4px rgba(57, 57, 57, 0.27), -1px -1px 2px rgba(0,0,0,0.4); 
    transition: 0.5s;
}

.burger h1:hover{
    color: rgb(255, 238, 0);
}

.burger .selectionMenu{
    padding-top: 78px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 585px;
    background-size: cover;
}

.burger .menuImage{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 10px #88888869;
    border-radius: 50px 0 50px 0;
    width: 97%;
    height: 94%;
    background: url(../../../public/img/Menu-background-pattern.jpg);
    outline: solid 5px rgb(255, 225, 0);
    background-size: cover;
}

.burger .choisissezVotreBurger{
    width: 50%;
    height: 12%;
}

.burger .filAriane{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-right: 6%;
    width: 44%;
    height: 12%;
}

.burger .arianeSelected{
    position: relative;
    border-radius: 10px;
    outline: solid 4px rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    background: rgb(184, 184, 184);
    transition: 0.5s;
}

.burger .arianeSelected:hover{
    border-radius: 10px;
    outline: solid 4px rgb(255, 255, 255);
    width: 45px;
    height: 45px;
    background: rgb(184, 184, 184);

}

.burger .arianeVide{
    position: relative;
    border-radius: 10px;
    outline: solid 4px rgb(42, 42, 42);
    width: 40px;
    height: 40px;
    background: rgb(184, 184, 184);
}

.burger .arianeFil{
    padding-bottom: 24px;
    width: 45px;
    height: 45px;
    background: url(../../../public/img/arianeFil.png);
}

.burger .line{
    position: relative;
    height:2px;
    width: 94%;
    background: rgb(143, 143, 143);
}

.burger .encadrementDiptique{
	padding-top: 2.5%;
    display: flex;
    flex-wrap: wrap;
    height: 64%;
    width: 100%;
}
    
.burger .burgersChoiceCadre1{
        display: flex;
        flex-wrap: wrap;
        height: 36%;
        width: 49%;
}

.burger .burgersChoiceCadre2{
    display: flex;
    flex-wrap: wrap;
    height: 36%;
    width: 49%;
}


.burger .burgerGrosSanCho{
    padding-left: 2%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 28%;
}

.burger .burgerGrosSanchoImg img{
	z-index: 9;
    position: relative;
    border-radius: 20px 0 0 20px;
    width: 120px;
    height: 106px;
    background: rgb(255, 255, 255, 0.75);
    outline: solid 4px rgb(68, 68, 68);
    transition: 0.5s;
}

.burger .burgerGrosSanchoImg img:hover{
    outline: solid 5px rgb(255, 196, 0);
    width: 127px;
    height: 110px;
}

.burger input[type=radio] {
    display: none;
}

.burgerInput:checked + label img {
    outline-color: rgb(255, 196, 0);
}

.burger h2 {
	font-family: "Lato";
    font-weight: bold;
    padding-right: 75px;
    color: rgb(22, 22, 22);
    text-align: center;
    font-size: 17px;
}

.burger p{
	font-family: "Lato";
}

.burger .descriptionProduit{
	z-index: 1;
    padding: 7px 0 0 15px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-wrap: wrap;
    background: rgb(255, 255, 255, 0.75);
    outline: solid 2.5px rgb(68, 68, 68);
    width: 60%;
    background: rgba(255, 255, 255, 0.6);
}
.burger .namePrice{
	width: 100%;
	display: flex;
	flex-direction: row;
 
}

.burger .name{
	width: 75%;
	display: flex;
}


.burger .price{
	padding-right: 40px;
	width: 25%;
	display: flex;
	justify-content: end;
}

.burger .encadrementDiptique p{
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.burger .boutonSuivant{
        position: relative;
        top: -5%;
        left: 80%;
        text-align: right;
        padding: 30px;
        transition: 0.5s;
}
  
.burger .boutonSuivant a:hover{
        color: rgb(255, 191, 0);
        outline: solid 3px rgb(255, 191, 0);
}

/* -------- paiement -------- */

.burger .titleFinalization{
	font-size: 45px;
}

.recapPrice{
	margin-left: 3%;
}

.burger .recapBoutonSuivant{
	position: relative;
	top: -5%;
	left: 67%;
	text-align: right;
	padding: 30px;
	transition: 0.5s;
}

.burger .recapBoutonSuivant a:hover{
	color: rgb(255, 191, 0);
	outline: solid 3px rgb(255, 191, 0);
}

.boutonsPaiement{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	height: 100%;
}

.payPal{
	box-shadow: 5px 5px 10px #88888869;
	margin: auto;
	height: fit-content;
	padding: 30px;
	background-color: goldenrod;
	border-radius: 10px;
	width: 90%;
}
.payPal img{
	margin: auto;
	width: 28%;
}
.carteBancaire{
	box-shadow: 5px 5px 10px #88888869;
	margin: auto;
	height: fit-content;
	padding: 30px;
	background-color: rgb(52, 52, 52);
	border-radius: 10px;
	width: 90%;
}
.carteBancaire img{
	margin: auto;
	width: 50%;
}

.promoPaiement{
	
	font-size: 23px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 50%;
	height: 100%;
}

.burger .promoTitle{
	padding-left: 45px;
    font-size: 23px;
	width: 95%;
	height: fit-content;
}

.burger .promoPaiement img{
	height: 75%;
	font-family: "Lato";
    font-weight: bold;
    color: rgb(22, 22, 22);
    text-align: center;
}

// --------- RESPONSIVE ---------

@media screen and (max-width: 768px) {
	.titreAccompagnement{
		padding: 4% 0px 0px 4%!important
	}
	h1{
	justify-content: center;
    color: rgb(31, 31, 31);
    padding: 31px 0px 0px 0 !important;
    font-size: 31px !important;
	
	}
	.descriptionProduit{
		width: 66% !important;
		.name{
			font-size: 14px !important;
			width: 63% !important;
		}
		.price{
			font-size: 14px !important;
			width: 63% !important;
		}
	}

	p{
		font-size: 9px !important;
	}
	.burgerGrosSanchoImg img{
		z-index: 9;
		position: relative;
		border-radius: 20px 0 0 20px;
		width: 90px !important;
		height: 90px !important;
		background: rgb(255, 255, 255, 0.75);
		outline: solid 4px rgb(68, 68, 68);
		transition: 0.5s;
	}

	// ------ ariane -----
	.arianeVide{
		border-radius: 5px !important;
		width: 30px !important;
		height: 30px !important;
		background: rgb(184, 184, 184);
	}
	
	.arianeFil{
		border-radius: 5px !important;
		padding-bottom: 34px !important;
		width: 30px !important;
		height: 30px !important;
		background: url(../../../public/img/arianeFil.png);
	}

}


@media screen and (max-width: 576px) {

	.burger{
			height: 950px;
	
		.selectionMenu{
			justify-content: center;
			width: 96% !important;
			height: 785px !important;
			.menuImage{
				border-radius: 15px !important;
				height: 830px;
				.choisissezVotreBurger{
					height: 5% !important;
					width: 90% !important;
					h1{
						padding: 31px 0px 0px 22px !important;
						font-size: 27px !important;
					}
					.titreAccompagnement{
						padding: 20px 0px 0px 22px !important;
					}
					.choisissezVotreDessert{
						padding: 29px 0px 0px 9px !important;
						font-size: 25px !important;
					}
				
				}
				.filAriane{
					padding-bottom: 27px;
					width: 88%;
					height: 6%;
				}
				.encadrementDiptique{
					.burgersChoiceCadre1{
					padding-bottom: 30px;
					height: 17% !important;
					width: 100% !important;
					}
					.descriptionProduit{
						.name{
							width: 152% !important;
							font-size: 13px !important;
						}
						.price{
							font-size: 13px !important;
							width: 77% !important;
						}
					}
				}
				.boutonSuivant{
					top: 0;
    				left: 0;
					padding: 14% 0 0 63%;
				}
			}

		}
	}
}