.bold{
	font-weight: bold;
}

.pageAnciensActus{
	overflow-x: hidden;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background: url(../../../../public/img/Menu-background-pattern.jpg);
	.imageActus1, .imageActus2, .imageActus3{
			margin: 90px 0 15px 15px;
			box-shadow: 5px 5px 10px #888888;
			border-radius: 10px;
			width: 50%;
			height: 50%;
			transition: 0.7s;
	}
	.imageBigActus1, .imageBigActus2, .imageBigActus3{
		border-radius: 10px;
			margin-top: auto;
			margin-left: 10px;
			width: 54% !important;
			height: 612px !important;	}
	.diptique{
			position: relative;
			left: 700px;
			margin: 90px 0 15px 15px;
			width: 37%;
			transition: 1s;
			.actusTitle{
				margin: 0 auto;
				width: 100% ;
			}
			.subTextAnciens{
				font-family: "Lato";
				
				.textAnciens{
					font-weight: initial;
					font-family: "Lato";
					font-size: 15px;
					width: 100%;
				}
			}
			.banniereActus{
				position: relative;
				margin-top: 5%;
				width: 15%;
			}
			.banniereActus2{
				margin-left: 5%;
				position: relative;
				margin-top: 5%;
				width: 25%;
			}
			.banniereActus3{
				margin-left: 5%;
				position: relative;
				margin-top: 5%;
				width: 25%;
			}
			.banniereActus4{
				margin-left: 5%;
				position: relative;
				margin-top: 5%;
				width: 16%;
			}
	}
}


@media screen and (max-width: 768px) {
	
		.actus{
			padding-bottom: 15px !important;
			.actusBigTitle{
				padding-top: 15px !important;
			 	padding-bottom: 24px !important;
			}
			.actusSub{
				height: 284px !important;
			}
			.actusTitle{
				width: 100% !important;
				font-size: 16px !important;
				
			}
			
		}
		.pageAnciensActus{
			margin-top: 87px;
			.imageBigActus1, .imageBigActus2, .imageBigActus3{
				width: 97% !important;
				height: 565px !important;				
				margin: auto;
			}
		}

		.imageActus1, .imageActus2, .imageActus3{
			width: 240px !important;
			height: 240px !important; 
		}
		
		.diptique{
			width: 100% !important;
			margin-top: 0 !important;

		}
		.subTextAnciens .textAnciens{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
		}
		.subTextAnciens{
			font-size: 17px !important;
		}
		.textAnciens{
			font-size: 17px;
			margin-top: 16px !important;
		}
		.imageBigActus1, .imageBigActus2, .imageBigActus3{
			width: 100% !important;
			height: 263px !important;
		}
	
}

@media screen and (max-width: 576px) {
	.pageActusClass{
		height: 1212px !important;
		.actusSub{
			display: flex;
			flex-wrap: wrap;
			height: fit-content !important;
		}
	
		.actusTitle {
			font-size: 16px !important;
		}
	
		.imageActus1, .imageActus2, .imageActus3{
			height: 275px !important;
			width: 275px !important;
		}
	
		.actusSub{
			display: flex;
			flex-direction: column;
			align-items: center;
			height: fit-content;
		}
	}

	.pageAnciensActus{
		margin-top: 60px;
		margin-bottom: 90px;
		.imageBigActus1, .imageBigActus2, .imageBigActus3{
			height: 289px !important;
			width: 100% !important;
		}
	}
	p{
		margin-left: 0px;
	}

	.actus{
		padding-bottom: 0 !important;
	}
		.actusSub{
		height: 1012px;
	}

	.actusTitle {
		font-size: 35px !important;
	}

	.actusSub {
		.imageActus1, .imageActus2, .imageActus3{
		height: 276px !important;
   		width: 96% !important;
		}
	}
	.actusSub{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: fit-content;
	}
	.imageBigActus1{
		width:30%;
		height: 150px;
	}
	.imageBigActus1, .imageBigActus2, .imageBigActus3{
		width: 100% !important;
		height: 50% !important;
	}
}

	





