@font-face {
    font-family: "Changa-One";
    src: url(../../../public/fonts/ChangaOne-Regular.ttf);
  }

.footer{
    font-family: "Changa-One";
    justify-content: space-around;
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 350px;
    background: url(../../../public/img/Banniere-san-cho-Dark.jpg) repeat;
    transition: 1.5s;
}

    .footerDiv01, .footerDiv02, .footerDiv03, .footerDiv04, .footerDiv05{
        font-size: 20px;
        font-family: "Changa-One";
        margin-top: 3%;
        margin-bottom: 3%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footerDiv03 img{
        align-self: center;
        height: 30px;
    }

    .locationLogo img{
        margin-left: 45%;
    }


    .tempGoogleMap {
        z-index: 1;
        padding: 0 40px 40px 40px;
        height: 120px;
        background: white;
    }

    .footerDiv05{
        color: white;
        display: flex;
        flex-direction: column;
        width: 9%;
    }

    .footerDiv05 img{
        height: 33px;
        filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(183deg) brightness(99%) contrast(97%);
    }