/*Titi Burger*/
@mixin newsletterDiv{
	font-size: 25px;
	display: flex;
}
body {
	overflow-x: hidden;
	>* {
		z-index: 2;
	}
}
.home{
	
	@font-face {
		font-family: "Lato";
		src: url(../../../public/fonts/Lato-Regular.ttf);
	}
	@font-face {
		font-family: "Changa-One";
		src: url(../../../public/fonts/ChangaOne-Regular.ttf);
	}
	
	@font-face {
		font-family: "After-Smile";
		src: url(../../../public/fonts/AfterSmile-Regular.otf);
	}
	
	h1{
		right: 600px;
		font-family: "Changa-One";
		color: rgb(0, 0, 0);
		margin-bottom: 40px;
		position: relative;
		padding-left: 20px;
		top: 170px;
		font-size: 75px;
		text-shadow: 1px 3px 4px #33333360, -1px -1px 2px rgba(0,0,0,0.4); 
		transition: 1s;
		h1:hover{
			padding-bottom: 30px;
			font-size: 78px;
			padding: 0px 930px 90px 0;
			color: rgb(255, 238, 0);
		}
	}
	
	h2{
		color: rgb(255, 255, 255);
		font-family: "Changa-One";
		text-align: center;
		font-size: 40px;
	}
	
	body{
		font-family: 'Roboto Condensed', sans-serif;
		overflow-x: hidden;
	}
	
	/*Boutons Click and Collect - Livraison*/
	
	#homeImage{
		padding-top: 100px;
		width: 100%;
		height: 520px;
		position: relative;
		img, video {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			z-index: -1;
			object-fit: cover;

		}
		.burgerPng img {
			z-index: 2;
			transition: 1s;
		}
	}

	.mousemove img{
		z-index: -100;
	}

	.mousemove{
		height: 100px;
		width: 100px;
		left: 50%;
		top: 50%;
		z-index: -1;
		filter: invert(92%) sepia(1%) saturate(0%) hue-rotate(187deg) brightness(89%) contrast(90%);
		transform: translate(-50%, -50%);
		position: absolute;
	}
	
	/******Banniere*****/
	
	.banniere{
		font-family: "Lato";
		box-shadow: 5px 5px 10px #88888869;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		height: 92px;
		width: 100%;
		background: url(../../../public/img/Banniere_san_cho_01.jpg);
	}
	
	.divBanniere{
		font-size: 40px;
	}
	
	/******Le Resto*****/
	
	.restoStory{
		margin-top: 5%;
		z-index: 5 !important;
		display: flex;
		justify-content: space-around;
		position: relative;
		right: 1200px;
		opacity: 0;
		transition: 1s;
	}
	
	.leResto{
		text-decoration: none;
		margin: auto;
		outline: solid 4px rgb(0, 0, 0);
		box-shadow: 5px 5px 10px #88888869;
		border-radius: 10px 10px 10px 10px;
		padding-top: 20px;
		width: 50%;
		height: 290px;
		background: url(../../../public/img/Fiesta_garden.jpeg);
		background-size: cover;
	}
	
	.TitleLeResto{
		color: white;
	}
	
	.titiStory{
		font-family: "Lato";
		margin: auto;
		margin-top: 4px;
		height: fit-content;
		padding-top: 20px;
		width: 39%;
		border-radius: 10px 10px 10px 10px;
		outline: solid 4px rgb(0, 0, 0);
		background: rgb(255, 255, 255);
	}
	
	.titiStoryTitle{
		color: black;
		outline: none;
	}
	
	.titiStory p{
		padding-top: 34px;
		padding: 15px, 20px, 10px, 20px;
		width: 90%;
		text-align: center;
		outline: none;
		
	}
	
	.lireLaSuite{
		font-family: "Lato";
		margin: auto;
		padding-top: 35px;
		padding-bottom: 7px;
		display: flex;
		justify-content: center;
		font-size: 17px;
		font-weight: bold;
	}
	
	.VLine{
		margin-top: 70px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
		width: 93%;
	}
	
	/*******Nos Burgers******/
	
	.nosBurgerSection{
		margin-top: 3%;
		margin-bottom: 5%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	
	.nosBurgersTitle{
		padding-top: 3%;
	}
	
	.nosBurgers{
		margin: auto;
		padding-bottom: 3%;
		outline: solid 4px rgb(0, 0, 0);
		box-shadow: 5px 5px 10px #88888869;
		border-radius: 10px 10px 10px 10px;
		background: rgb(255, 255, 255);
		width: 50%;
		height: fit-content;
	}
	
	.nosBurgersText{
		font-family: "Lato";
		padding-top: 30px;
		margin: 0 25px;
	}
	
	.slider {
		opacity: 0;
		left: 1200px;
		transition: 1s;
	}
	
	
	.image1, .image2, .image3{
		margin-top: 12px;
		margin-left: -10px;
		width: 189px;
		height: 164px;
		border-radius: 183px;
	}
	
	/*******Actus*******/
	
	.actus{
		outline: solid 4px rgb(0, 0, 0);
		display: flex;
		flex-direction: column;
		background: url(../../../public/img/Menu-background-pattern.jpg) no-repeat;
		background-size: cover;
	}

	.actusAntiUnderline{
		text-decoration: none;
	}
	
	.actusBigTitle{
		color: black;
		padding-top: 23px;
		padding-bottom: 45px;
	}
	
	.actusTitle{
		color: black;
		font-size: 23px;
		margin-top: 22px;
		margin-bottom: 30px;
		text-align: center;
		transition: 0.5s;
	}
	.actusSub{
		padding-bottom: 20px;
		width: 100%;
		height: 400px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.imageActus1, .imageActus2, .imageActus3{
		box-shadow: 5px 5px 10px #888888;
		border-radius: 10px;
		width: 300px;
		height: 300px;
		transition: 0.7s;
		&:hover{
			outline: solid 4px rgb(0, 0, 0);
			filter: brightness(130%);
		}
	}
	
	.newsletter{
		font-family: "Changa-One";
		outline: solid 4px rgb(0, 0, 0);
		display: flex;
		flex-direction: row;
		border-radius: 30px;
		width: 80%;
		height: 185px;
		background: url(../../../public/img/Bouton_Click-collect-yellow.jpg);
		margin: 0 auto;
		margin-top: 10%;
		box-shadow: 5px 5px 10px #888888;
		
		.newsletter01 .newsletter02 .newsletter03{
			height: 100%;
		}
		
		.newsletter01{
			@include newsletterDiv;
			padding-bottom: 1%;
			font-family: "Changa-One";
			font-size: 33px;
			align-items: center;
			padding-left: 35px;
			width: 30%;
		}
		
		.newsletter02{
			@include newsletterDiv;
			margin-top: 1%;
			font-family: "Changa-One";
			justify-content: end;
			align-items: center;
			text-align: right;
			padding-right: 2%;
			width: 17%;
		}
		.newsletter03{
			@include newsletterDiv;
			font-family: "Changa-One";
			padding: 20px 10px 0 0;
			justify-content: end;
			text-align: justify;
			text-align: right;
			width: 45%;
		}
		label {
			margin-left: 1%;
			margin-top: 7%;
			margin-bottom: 3%;
			font-size: 25px;
			font-family: "Changa-One";            
		}
	}
	
	.newsletter02 img{
		padding-left: 10%;
		height: 17%;
	}

	.sendButton{
		margin-right: 1.5%;
		margin-left: 43.5%;
		margin-top: 159%;
		height: 25%;
	}
	
	#emailNewsLetter {
		outline: solid 4px rgb(0, 0, 0);
		margin-left: 2%;
		margin-top: 6.3%;
		width: 30%;
		height: 40px;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: #fff;
		color: #333;
		font-size: 16px;
	}
	
	#pimentImage{
		width: 100%;
		height: 250px;
		background: url(../../../public/img/Piment_taille_m.png) no-repeat;
		&:hover {
			animation: gigote infinite 0.2s;
		}
	}
	
	@keyframes gigote {
		0% {
			rotate: 0deg;
		}
		
		25% {
			rotate: 15deg;
		}
		
		75% {
			rotate: -15deg;
		}
		
		100% {
			rotate: 0deg;
		}
	}
	.titleNewsletterResp{
		display: none;
	}
	
	// ------------Responsive-----------

	@media screen and (max-width: 768px) {
		.mousemove img{
			display: none;
		}
		.restoStory{
			.leResto {
				height: 233px !important;
				border-radius: 7px;
				background: url(../../../public/img/Fiesta_garden-sm.jpg) cover !important;
			}
		}
		
		#pimentImage{
			position: relative;
			left: 144px !important;
			width: 100% !important;
			height: 105px;
			background: url(../../../public/img/Piment_taille_sm.png) no-repeat !important ;
			
		}
		#homeImage{ 
				.homeVideo{
				top: 37px;
				left: -513px;
				height: 100%;
				width: 185%;
				}
				img{
				position: absolute;
				top: 40px;
				bottom: 0;
				left: -402px;
				right: 0;
				height: 100%;
				width: 155%;
				z-index: -1;
				object-fit: cover;
				}
		}
		h1{
			top: 0;
			padding: 0px 0px 0px 26px !important;
			font-size: 47px !important;
		}
		.nosBurgers{
			border-radius: 7px;
			.titiStory p{
			padding-top: 14px;
			}

			.actus{
				.actusBigTitle{
					padding-top: 15px;
   					padding-bottom: 24px;
				}
				.actusSub{
					height: 284px;
				}
				.actusTitle{
					font-size: 13px;
				}
				.imageActus1, .imageActus2, .imageActus3{
					height: 238px !important;
					width: 238px !important;
				}
			}
		}
			
			.newsletterSection{
				height: 110px;
				.newsletter{
					margin: 40px auto !important;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					width: 78% !important;
					height: 87px !important;
				}
				.titleNewsletterResp{
					margin-top: 1.5%;
					height: 48%;
					font-size: 31px;
					color: black;
					display: unset;
					margin-top: 1.5%;
					width: 30% !important;
					
				}
				#emailNewsLetter{
					width: 46% !important;
					height: 24% !important;
					margin-top: 6%;
				}
			
				.emailTextInput{
					color: black;
					margin-top: 6% !important;
					height: 40%;
				}
			
				.newsletter01{
					display: none !important;
				}
				.newsletter02{
					display: none !important;
				}
				.newsletter{
				outline: solid 4px rgb(0, 0, 0);
				margin-left: 2%;
				margin-top: 6.3%;
				width: 57%;
				height: 26px;
				border: 1px solid #ccc;
				border-radius: 4px;
				background-color: #fff;
				color: #333;
				font-size: 16px;
				}
			
			}
	}
	
	@media screen and (max-width: 576px) {
		p{
			font-size: 15px;
		}
		#homeImage{ 
			img{
			position: absolute;
			top: 93px;
			bottom: 0;
			left: -568px;
			right: 0;
			height: 86%;
			width: 261%;
			z-index: -1;
			object-fit: cover;
		}
		.homeVideo{
			position: absolute;
			top: 20px;
			bottom: 0;
			left: -104px;
			right: 0;
			height: 104%;
			width: 154%;
			z-index: -1;
			object-fit: cover;
		}
	}
		.mousemove{
			display: none;
		}

		h1{
			color: rgb(0, 0, 0);
			position: relative;
			top: -33px !important;
			font-size: 44px;
			text-shadow: 1px 3px 4px #33333345, -1px -1px 2px rgba(0,0,0,0.4); 
			transition: 1s;
		}
		
		.divBanniere{
			font-size: 13px;
		}
		
		.restoStory {
			margin: 70px 20px 70px 20px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
		}
		.leResto {
			border-radius: 10px 10px 0 0;
			width: 100%;
			background: url(../../../public/img/Fiesta_garden-sm.jpg) no-repeat !important;
			background-size: cover !important;
		}
		.titiStory {
			border-radius: 0 0 7px 7px;
			width: 100%;
		}
		.nosBurgerSection {
			align-items: center;
			flex-direction: column;
			text-align: center;
		}
		.nosBurgers {
			margin-bottom: 15px;
			border-radius: 10px;
			justify-content: center;
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			width: 93%;
			height: 30%;
		}
		.nosBurgersText{
			padding-bottom: 35px;
		}
		.actus{
			.actusSub{
				height: 1012px !important;
			}

			.actusTitle {
				font-size: 16px !important;
			}

			.imageActus1, .imageActus2, .imageActus3{
				height: 275px !important;
				width: 275px !important;
			}

			.actusSub{
				display: flex;
				flex-direction: column;
				align-items: center;
				height: fit-content;
			}

		}

		.newsletterSection{
			height: 110px;
			.newsletter{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 96% !important;
				height: 87px !important;
				margin-top: 9.3% !important;
			}
			.newsletter01{
				font-size: 10px;
				display: none;
			}
			.newsletter02{
				font-size: 10px;
				text-align: right;
				padding-left: 20px;
				width: 20%;
				display: none;
			}
			.newsletter03{
				font-size: 10px;
				padding: 20px 10px 0 0;
				text-align: center;
				width: 100%;
			}
			.titleNewsletterResp{
				margin-top: 1.5%;
				width: 0% !important;
				height: 48%;
				font-size: 25px;
				color: black;
				display: unset;
			}
			#emailNewsLetter{
				width: 70% !important;
				height: 25% !important;
				margin-top: 12%;
			}
		
			.emailTextInput{
				color: black;
				margin-top: 12% !important;
				height: 40%;
			}
		
			.newsletter01{
				display: none !important;
			}
			.newsletter02{
				display: none !important;
			}
			.newsletter03{
				margin-left: 3%;
			}
		
			.newsletter{
			outline: solid 4px rgb(0, 0, 0);
			margin-left: 2%;
			margin-top: 6.3%;
			width: 57%;
			height: 26px;
			border: 1px solid #ccc;
			border-radius: 4px;
			background-color: #fff;
			color: #333;
			font-size: 16px;
			}
		}
		
		#pimentImage{
			position: relative;
			left: -50px !important;
			width: 113% !important;
    		height: 86px !important;
			background: url(../../../public/img/Piment_taille_sm.png) no-repeat !important;
		}
    }
	
}
	
	// -------------Page-Click-----------
	#cadreVide{
		width: 100%;
		height: 100px;
	}
	#clickAndCollect{
		.boutonClickCollect {
			outline: solid 4px rgb(0, 0, 0);
			border-radius: 7px;
			margin: auto;
			width: 27%;
			height: 70px;
			display: flex;
			flex-direction: column;
			background: url(../../../public/img/bouton-click-and-collect.jpg);
			
			h2 {
				margin: auto;
				color: black;
			} 
		}
	}
	
	.commandDegustez{
		
		padding: 1% 2% 1% 2%;
		border-radius: 5px;
		width: 35%;
		outline: solid 4px rgb(0, 0, 0);
		margin: 2% auto;
		color: #333;
		background: url(../../../public/img/Bouton_Click-collect-white.jpg);
	}
	
	.squarePath{
		display: flex;
		flex-direction: column;
		margin-top: 1%;
		width: 100%;
	}
	.rectangle{
		padding-top: 1%;
		margin: auto;
		width: 10px;
	}
	
	.clickText {
		// font-family: "Changa-One";
		font-size: 20px;
		text-align: center;
		margin: 3% auto;
		color: rgb(139, 139, 139); 
	}
	#aCommencer{
		text-decoration: none;
		#sectionCommencer{
			text-decoration: none;
			outline: solid 4px rgb(0, 0, 0);
			margin: auto;
			border-radius: 7px;
			width: 50%;
			height: 150px;
			background: url(../../../public/img/Bouton_Click-collect-yellow.jpg);
			.commencer{
				font-size: 60px;
				color: #333;
			}
			
		}

}
