// ------- HEADER ------

body {
  overflow-x: hidden !important;
}

.sizeLogo {
	position: absolute;
  display: flex;
  align-items: end;
  margin: 10px;
  width: 130px;
}

.link {
  text-decoration: none !important;
  color: black;
}
.linkFooter {
  text-decoration: none !important;
  color: rgb(255, 255, 255);
}

.container {
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  background: rgb(26, 26, 26);
  position: fixed;
  z-index: 10;
  top: 0px;
  transition: 0.3s;
}

.menuBurger img {
  display: none;
}

.rollMenu {
  display: none;
  text-decoration: none !important;
  text-decoration: none !important;
  position: absolute;
  margin: 3svw 0 0 57svw;
  padding-bottom: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #88888869;
  outline: solid 5px rgb(255, 255, 255);
  align-items: center;
  height: fit-content;
  width: 189px;
  opacity: 1;
  background-color: rgba(255, 200, 0, 0.9);
  transition: 0.5s;
  .closeButton img {
    margin: 10px 0 20px 80%;
    height: 38px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%)
      contrast(104%);
  }
  .textRoll {
    text-decoration: none !important;
    transition: 1s;
    font-family: "Changa-One" !important;
    padding-left: 10px;
    font-size: 30px;
    color: #000000d6;
  }
  .rollSpace {
    margin-left: 15px !important;
    margin-top: 33px;
  }
  .rollSpace01 {
    margin-left: 15px !important;
    margin-top: -20px;
  }
}

.logo {
  z-index: 100;
  display: flex;
  padding: 14px 0 0 20px;
  width: 150%;
  height: 63%;
}

.headerRight {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: end;
  height: 17%;
  width: 87%;
}

.bouton {
  transition: 0.5s;
  text-align: right;
  padding: 20px;
}

.bouton a:hover {
  color: gold;
}

.callToAction {
  font-family: "Roboto Condensed", sans-serif;
  transition: 0.5s;
  padding: 4px 23px;
  background-color: rgb(255, 115, 0);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  outline: none;
  border: none;
  box-shadow: none;
}

.bouton .callToAction {
  font-size: 17px;
  margin-left: 16px;
  border: none;
}

.callToAction:hover {
  text-align: center;
  background: orangered;
}

/*********Liste Nav*********/

.listeNav {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: row;
  justify-content: end;
  justify-content: space-between;
  padding-top: 15px;
  transition: 0.5s;
}

.listeNav a {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: row;
  justify-content: space-between;
  justify-content: end;
  padding-left: 50px;
  transition: 0.5s;
  text-decoration: none;
}

.listeNav a:hover {
  font-size: 18px;
  color: gold;
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: end;
  height: 50%;
  width: 100%;
}

@media screen and (max-width: 768px) {

  .listeNav a {
    font-size: 15px !important;
  }
  .sizeLogo {
    width: 110px !important;
  }
  .logoNav {
    width: 110px;
  }
}

@media screen and (max-width: 576px) {
  .menuBurger img {
    padding-top: 15px;
    padding-right: 10px;
    height: 25px;
    display: block;
    filter: invert(100%) sepia(10%) saturate(7394%) hue-rotate(276deg)
      brightness(124%) contrast(102%);
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 49px;
    background: rgb(26, 26, 26);
    z-index: 10;
    top: 0px;
    transition: 0.3s;
  }
  .sizeLogo {
	position: relative !important;
    width: 70px !important;
  }
  .logoNav {
    width: 70px;
  }

  .headerRight {
    display: none;
  }
}

// ------- FOOTER --------

@font-face {
  font-family: "Changa-One";
  src: url(../../../public/fonts/ChangaOne-Regular.ttf);
}

.footer {
  font-family: "Changa-One";
  justify-content: space-around;
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 350px;
  background: url(../../../public/img/Banniere-san-cho-Dark.jpg) repeat;
  transition: 1.5s;
  .footerDiv01,
  .footerDiv02,
  .footerDiv03,
  .footerDiv04,
  .footerDiv05 {
    font-size: 20px;
    font-family: "Changa-One";
    margin-top: 3%;
    margin-bottom: 3%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footerDiv03 img {
    align-self: center;
    height: 30px;
  }

  .locationLogo img {
    margin-left: 45%;
  }

  .tempGoogleMap {
    z-index: 1;
    padding: 0 40px 40px 40px;
    height: 120px;
    background: white;
  }

  .footerDiv05 {
    color: white;
    display: flex;
    flex-direction: column;
    width: 9%;
  }

  .footerDiv05 img {
    height: 33px;
    filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(183deg)
      brightness(99%) contrast(97%);
  }
}

// ----------Responsive Footer -------------

@media screen and (max-width: 768px) {
  .listeNav a {
    font-size: 15px !important;
  }
  .footerDiv01 {
    margin-left: 15px;
  }
  .footerDiv03 {
    margin-left: 25px;
  }
  .footer {
    height: 179px;
    p {
      font-size: 16px !important;
    }
  }
}

@media screen and (max-width: 576px) {
  .footer {
    height: 146px !important;
    p {
      margin-left: 10px !important;
      font-size: 12px !important ;
    }
  }
  .footerDiv05 img {
    height: 24px !important;
  }
}
